<body>
    <app-loading-spinner *ngIf="isLoading" class="d-flex align-items-center justify-content-center"></app-loading-spinner>
    <div *ngIf="!isLoading">
    <div class="row justify-content-between">
        <h1 class="col-md-2 pt-2">Users</h1>
        <div class="col-md-5 pt-3">
            <form #searchForm="ngForm" (ngSubmit)="searchUser()">
                <div class="d-flex flex-row-reverse">
                    <input type="submit" value="Search" class="btn btn-outline-dark mr-1"/>
                    <input type="text" class="mr-1" required [(ngModel)]="search" name="search" />
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid d-none d-md-block">
        <div class="row d-flex align-items-center border-bottom border-bottom-3 pt-4 fw-bold">
            <div class="col-6 col-md-3 p-1">
                <button  type="button" class="text-dark btn btn-link" (click)="sortByFirstName()">First Name</button>
            </div>
            <div class="col-6 col-md-3 p-1">
                <button type="button" class="text-dark btn btn-link" (click)="sortByLastName()">Last Name</button>
            </div>
            <div class="col-6 col-md-3 p-1">
                <button type="button" class="text-dark btn btn-link" (click)="sortByEmail()">Email</button>
            </div>
            <div class="col-md-3 p-1 px-4">
                Actions
            </div>
        </div>
    </div>

    <div class="d-md-none pt-4"></div>

<div class="container-fluid grid-striped">
<div *ngFor="let user of users.items">
    <div class="row border border-1 border-bottom-2 d-flex align-items-center">
        <div class="col-6 col-md-3 p-2 name first-name" id="firstName-{{user.id}}">
            {{user.firstName}}
        </div>
        <div class="col-6 col-md-3 p-2 name first-name" id="lastName-{{user.id}}">
            {{user.lastName}}
        </div>
        <div class="col-6 col-md-3 p-2 name first-name" id="email-{{user.id}}">
            {{user.email}}
        </div>
        <div class="col-md-3 p-1">
            <div class="nav-item pr-4" ngbDropdown>
                <button type="button" class="nav-link text-dark btn btn-link" ngbDropdownToggle id="options-{{user.id}}">
                    <img src="../assets/options-outline.svg" width="24" height="24" />  Options
                </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem routerLink='/users/edit/{{user.id}}' id="edit-user-{{user.id}}">Edit</button>
                        <button ngbDropdownItem (click)="delete(user.id) " id="delete-user-{{user.id}}">Delete</button>
                    </div>
                    <app-modal [message] ="'Are you sure you want to delete this user? All of his posts and comments will be deleted.'" [type]="'delete'" id="delete-modal"></app-modal>
            </div>
        </div>
    </div>
</div>
<br/>
    <button type="button" *ngIf="users.hasPreviousPage" class="btn btn-outline-dark mx-1"
     (click)="getAll(users.pageIndex - 1)" id="previous-btn">Previous</button> 
    <button type="button" *ngIf="users.hasNextPage" class="btn btn-outline-dark mx-1"
     (click)="getAll(users.pageIndex + 1)" id="next-btn">Next</button>
</div>

</div>
</body>
