@model BlogApp.Dotnet.ApplicationCore.Models.BlogPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Post</h1>

<hr />
<form method="post" enctype="multipart/form-data" id="main-form" asp-action="Create">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <label for="formFile" class="control-label">Choose an image:</label>
                    <input class="form-control" type="file" name="imageFile" id="file-upload-image" onchange="loadFile(event)" />
                    <span id="spn-err-msg" class="error text-danger d-none"></span>
                </div>
            </div>
        </div>

        <div align="center" class="col-md-7 ml-1 mt-2">
            <img id="img-preview" class="img-thumbnail w-50 d-none" />
        </div>

    </div>

    <div class="col-auto">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control" rows="22" style="text-align: justify;">
                </textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <br>
    <input id="btn-submit" type="submit" value="Create" class="btn btn-outline-dark" />
    <input type="button" value="Back to Posts" onclick="location.href='@Url.Action("Index","Posts")'" class="btn btn-outline-dark" />
</form>
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/Scripts/ImageFileValidation.js" type="text/javascript"></script>
<script src="~/Scripts/Image-Preview.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

